.first li {
  font-size: 15px;
  list-style: none;
  padding: 5px;
  margin: 10px;
  color: ghostWhite;
  opacity: 0;

}
.second li {
  font-size: 15px;
  list-style: none;
  margin: 5px;
  color: black;
  opacity: 1;

}


.Blue {
  background-color: Blue;
}
.BlueViolet {
  background-color: BlueViolet;
}
.Brown {
  background-color: Brown;
}
.BurlyWood {
  background-color: BurlyWood;
}
.CadetBlue {
  background-color: CadetBlue;
}
.Chartreuse {
  background-color: Chartreuse;
}
.Chocolate {
  background-color: Chocolate;
}
.Coral {
  background-color: Coral;
}
.CornflowerBlue {
  background-color: CornflowerBlue;
}
.Cornsilk {
  background-color: Cornsilk;
}
